# Build results
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# VS Code
.vscode/

# Visual Studio
.vs/

# Dotnet
*.dbmdl
*.pidb
*.svclog
*.pdb
*.cache
*.log

# Others
*.DS_Store
Thumbs.db

# NuGet
*.nupkg
.nuget/
packages/

# Object files
obj/